/* DECLARE TOKENS ON GLOBAL SCALE */
html {
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;

  --color-text: #ddd;

  --color-mind-1: #3e0042;
  --color-mind-2: #6f1775;
  --color-mind-3: #a243a8;
  --color-mind-4: #d584db;
  --color-mind-5: #fcccff;

  --color-soul-1: #002b42;
  --color-soul-2: #175475;
  --color-soul-3: #4385a8;
  --color-soul-4: #84bddb;
  --color-soul-5: #ccedff;

  --color-blood-1: #420a00;
  --color-blood-2: #752617;
  --color-blood-3: #a85243;
  --color-blood-4: #db9184;
  --color-blood-5: #ffd4cc;

  --color-bounty-1: #dbb200;
  --color-bounty-1-90: #dbb200df;
  --color-bounty-1-75: #dbb200bf;
  --color-bounty-1-50: #dbb20080;
  --color-bounty-2: #a89022;
  --color-bounty-3: #75682f;
  --color-bounty-4: #423d28;
  --color-bounty-5: #333129;

  --color-dark-1: #111;
  --color-dark-2: #222;
  --color-dark-3: #333;
  --color-dark-4: #444;
  --color-dark-5: #555;
  --color-dark-6: #666;

  --color-action: var(--color-dark-4);
  --color-action-hover: var(--color-dark-3);
  --color-action-ghost: var(--color-dark-2);
  --color-action-danger: var(--color-blood-2);
  --color-action-danger-hover: var(--color-blood-1);
  --color-action-danger-ghost: var(--color-blood-4);

  color: var(--color-text);
}

/* 
 * ==================================================================
 * RESET
 * ==================================================================
*/

.celestus ul,
.celestus ol {
  margin-block: 0;
}

.celestus p,
.celestus :is(h1, h2, h3, h4, h5, h6) {
  padding: 0px;
  margin: 0px;
}

/* 
 * ==================================================================
 * FLEX STYLES
 * ==================================================================
*/
.hstack {
  display: flex;
  flex-direction: row;
}

.vstack {
  display: flex;
  flex-direction: column;
}

/* Gap sizes */
.gap-xs {
  gap: var(--spacing-xs);
}
.gap-sm {
  gap: var(--spacing-sm);
}
.gap-md {
  gap: var(--spacing-md);
}
.gap-lg {
  gap: var(--spacing-lg);
}
.gap-xl {
  gap: var(--spacing-xl);
}
.gap-2xl {
  gap: var(--spacing-2xl);
}
.gap-3xl {
  gap: var(--spacing-3xl);
}

/* Alignment of flex items */
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-stretch {
  align-items: stretch;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-stretch {
  justify-content: stretch;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-evenly {
  justify-content: space-evenly;
}

/* Flex children */
.flex-0 {
  flex: 0;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}

/* Flex wrap */
.flex-wrap-wrap {
  flex-wrap: wrap;
}
.flex-wrap-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* Text styles */
.small-caps,
sc {
  font-variant: small-caps;
}

.text-align-center {
  text-align: center;
}
.text-align-end {
  text-align: end;
}
.text-align-justify {
  text-align: justify;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-start {
  text-align: start;
}

/* Grid */
.grid {
  display: grid;
}

/* Padding */
.padding-xs {
  padding: var(--spacing-xs);
}
.padding-sm {
  padding: var(--spacing-sm);
}
.padding-md {
  padding: var(--spacing-md);
}
.padding-lg {
  padding: var(--spacing-lg);
}
.padding-xl {
  padding: var(--spacing-xl);
}
.padding-2xl {
  padding: var(--spacing-2xl);
}
.padding-3xl {
  padding: var(--spacing-3xl);
}
.p-xs {
  padding: var(--spacing-xs);
}
.p-sm {
  padding: var(--spacing-sm);
}
.p-md {
  padding: var(--spacing-md);
}
.p-lg {
  padding: var(--spacing-lg);
}
.p-xl {
  padding: var(--spacing-xl);
}
.p-2xl {
  padding: var(--spacing-2xl);
}
.p-3xl {
  padding: var(--spacing-3xl);
}
.px-xs {
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
}
.px-sm {
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}
.px-md {
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}
.px-lg {
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
}
.px-xl {
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
}
.px-2xl {
  padding-left: var(--spacing-2xl);
  padding-right: var(--spacing-2xl);
}
.px-3xl {
  padding-left: var(--spacing-3xl);
  padding-right: var(--spacing-3xl);
}
.py-xs {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}
.py-sm {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}
.py-md {
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
}
.py-lg {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}
.py-xl {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}
.py-2xl {
  padding-top: var(--spacing-2xl);
  padding-bottom: var(--spacing-2xl);
}
.py-3xl {
  padding-top: var(--spacing-3xl);
  padding-bottom: var(--spacing-3xl);
}
