.celestus {
  --virtue-color-active-start: #1f1a1f;
  --virtue-color-active: #383638;
  --virtue-color-inactive: #181818;

  --virtue-color-gd-active-start: #973522;
  --virtue-color-gd-active: #d1624b;
  --virtue-color-gd-inactive: #2c1815;
  --virtue-color-wd-active-start: #19437a;
  --virtue-color-wd-active: #3a7bcf;
  --virtue-color-wd-inactive: #121822;
  --virtue-color-hp-active-start: #29690f;
  --virtue-color-hp-active: #337c16;
  --virtue-color-hp-inactive: #111a11;

  --virtue-active-percent: 100%;
}

/**
 * ===============================================
 * Misc. Inputs
 * ===============================================
 */

.celestus .actor-name {
  font-size: 1.75rem;
  font-family: "Uncial Antiqua", system-ui;
  background-color: transparent;
  overflow-y: visible;
}

.celestus .icon-button {
  border: none;
  outline: none;
  background-color: var(--color-action);
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  border-radius: 1rem;
  box-shadow: none;
}
.celestus .icon-button:hover {
  background-color: var(--color-action-hover);
}

.celestus button.toggle-button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-text);
  transition: opacity 0.5s;
}
.celestus button.toggle-button:hover {
  background-color: var(--color-action-ghost);
}
.celestus button.toggle-button.active {
  background-color: var(--color-action);
}
.celestus button.toggle-button.active:hover {
  background-color: var(--color-action-hover);
}

/**
 * ===============================================
 * Begin VIRTUES
 * ===============================================
 */
.celestus .virtue-meter {
  height: 1.5rem;
  width: 10rem;
  outline: thin solid var(--color-light-5);
  background-image: linear-gradient(
    to right,
    var(--virtue-color-active-start) 0%,
    var(--virtue-color-active) var(--virtue-active-percent),
    var(--virtue-color-inactive) var(--virtue-active-percent) 100%
  );
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 1px black;
}
.celestus .edit .virtue-meter {
  flex-direction: row;
}

.celestus .virtue-meter.gd {
  background-image: linear-gradient(
    to right,
    var(--virtue-color-gd-active-start) 0%,
    var(--virtue-color-gd-active) var(--virtue-active-percent),
    var(--virtue-color-gd-inactive) var(--virtue-active-percent) 100%
  );
}
.celestus .virtue-meter.wd {
  background-image: linear-gradient(
    to right,
    var(--virtue-color-wd-active-start) 0%,
    var(--virtue-color-wd-active) var(--virtue-active-percent),
    var(--virtue-color-wd-inactive) var(--virtue-active-percent) 100%
  );
}
.celestus .virtue-meter.hp {
  background-image: linear-gradient(
    to right,
    var(--virtue-color-hp-active-start) 0%,
    var(--virtue-color-hp-active) var(--virtue-active-percent),
    var(--virtue-color-hp-inactive) var(--virtue-active-percent) 100%
  );
}

.celestus .virtue-meter input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  height: 0px;
  border-radius: 0.25rem;
  background-color: none;
  outline: none;
  padding-right: var(--spacing-2xl);
  font-size: 1rem;
  text-align: right;
  line-height: 100%;
  cursor: pointer;
}
.celestus .edit .virtue-meter input {
  opacity: 100%;
  background-color: #0003;
  height: min-content;
}
.celestus .edit .virtue-meter .virtue-input-value {
  display: none;
}
.celestus .virtue-meter input:focus {
  opacity: 100%;
  background-color: #0003;
  height: min-content;
}
.celestus .virtue-meter label {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  cursor: pointer;
  line-height: 100%;
  width: 100%;
  text-align: center;
}
.celestus .virtue-meter:has(input:focus) label {
  opacity: 0%;
  height: 0px;
}
.celestus .edit .virtue-meter label {
  display: none;
  font-size: 0.75rem;
  flex: 0;
  padding: 0 0.5rem;
}
.celestus .virtue-meter .virtue-max-label {
  display: none;
}
.celestus .edit .virtue-meter label.virtue-max-label {
  display: block;
}
.celestus .edit .virtue-meter:has(input:focus) label.virtue-max-label {
  opacity: 100%;
  height: auto;
}

.celestus .edit .virtue-meter .virtue-input-max {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  align-items: center;
}
.celestus .virtue-meter .virtue-input-max label {
  display: none;
}
.celestus .edit .virtue-meter .virtue-input-max label {
  display: flex;
  flex: 1;
}
.celestus .edit .virtue-meter:has(input:focus) .virtue-input-max label {
  opacity: 100%;
  height: auto;
}
.celestus .edit .virtue-meter .virtue-input-max input {
  flex: 2;
}

/* Virtues grid */
.virtue-grid {
  display: grid;
  position: relative;
  grid-template-columns: 2rem min-content;
  border-collapse: collapse;
  column-gap: var(--spacing-sm);
  row-gap: var(--spacing-sm);
}

.virtue-grid .virtue-label {
  text-transform: uppercase;
  margin: 0;
  font-size: 0.75rem;
  max-width: min-content;
  display: flex;
  justify-content: flex-end;
  justify-self: end;
  align-items: center;
  height: 100%;
  width: 100%;
  line-height: 100%;
  text-align: right;
  width: 2rem;
}

.virtue-grid > * {
  align-self: center;
}

/**
 * ===============================================
 * End VIRTUES
 * ===============================================
 */
